label live-amd64
	menu label ^Try Or Install GXDE (Newer Kernel)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components splash locales=zh_CN.UTF-8

label live-amd64-failsafe
	menu label ^Try Or Install GXDE (Safe graphics) (Newer Kernel)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components splash nomodeset locales=zh_CN.UTF-8

label live-amd64-oldstable
	menu label ^Try Or Install GXDE (Stable Kernel)
	linux /live/vmlinuz-oldstable
	initrd /live/initrd.img-oldstable
	append boot=live components splash locales=zh_CN.UTF-8

label live-amd64-failsafe-oldstable
	menu label ^Try Or Install GXDE (Safe graphics) (Stable Kernel) 
	linux /live/vmlinuz-oldstable
	initrd /live/initrd.img-oldstable
	append boot=live components splash nomodeset locales=zh_CN.UTF-8
