source /boot/grub/config.cfg

# Live boot
menuentry "Try Or Install GXDE (Newer Kernel)" --hotkey=t {
	linux	/live/vmlinuz boot=live components splash findiso=${iso_path} locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

menuentry "Try Or Install GXDE (Safe graphics) (Newer Kernel)" --hotkey=t {
	linux	/live/vmlinuz boot=live components splash nomodeset locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

menuentry "Try Or Install GXDE (Stable Kernel)" --hotkey=t {
	linux	/live/vmlinuz-oldstable boot=live components splash findiso=${iso_path} locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

menuentry "Try Or Install GXDE (Safe graphics) (Stable Kernel)" --hotkey=t {
	linux	/live/vmlinuz-oldstable boot=live components splash nomodeset locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

